/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */
body {
    background: rgb(74, 109, 229);
    background: linear-gradient(180deg, rgb(74, 229, 203) 0%, rgba(0, 198, 197, 1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}


/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}


/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */
/* Navigation Styles*/
.navbar__menu {
    position: fixed;
    width: 100%;
    min-height: 5vh;
    z-index: 20;
    top:0;
    left: 0;
    background: #fff;
}

@media only screen and (min-width: 35em) {
    .navbar__menu ul {
        padding-left: 0;
        margin: 0;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color:  #138572;
}

.navbar__menu .link-active,
.navbar__menu .menu__link:hover {
    background: #4AE5CB;
    color: #585858;
    transition: ease 0.3s all;
}


/* Header Styles */
.page__header {
    top: 5vh;
    width: 100%;
    z-index: 5;
    width: 100%;
    padding-top: 3em;
    position: relative;
    display: flex;
    margin: 0;
    background: url('../img/kahuna-scene.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}

#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
  }


/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}


/* Go to Top Button Style */
#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    background: none;
    cursor: pointer;
    width: 5em;
    opacity: 0.5;
  }
  
#topBtn:hover {
    opacity: 100%;
    transform: scale(1.1);
    transition: ease 0.2s all;
  }


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

section:nth-of-type(even) .burger__parts {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

/* Burger Part Images Styles */
.burger__parts {
    width: 30vw;
    opacity: 0;
}


/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: "";
    background: rgba(125, 125, 125, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
section.section-active {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section.section-active .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.section-active .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Images reveal after 1 second of reaching respective section */
section.section-active .burger__parts {
    width: 30vw;
    opacity: 1;
    animation-name: reveal;
    animation-duration: 1s;
}


/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}

@keyframes reveal {
    from {opacity: 0}
    to {opacity: 1}
}